{% extends "base.html" %} {% block title %}Home - Mert Cobanov{% endblock %} {%
block content %}
<!-- Introduction Section -->
<div class="giriş">
  <h2>Furkan Selek</h2>
  <p>0x6673 🙋‍♂️</p>

  <p>
    I'm an Electronics and Communication Engineering student at IYTE, with a passion for AI bots and Game Theory. I explore the intersection of robotics and technology, staying engaged with the latest advancements in these fields. Beyond my academic pursuits, I love reading about Popular Science, Modern World History, and the fascinating world of Visual Perception in the Arts. I'm also an enthusiastic Linux user, constantly seeking new ways to optimize and enhance systems.
  </p>

  <ul>
    <li>🌍 Based in İzmir</li>
    <li>
      💌 Reach me at
      <a href="mailto:furkanselek@outlook.com">furkanselek@outlook.com</a>
    </li>
    <li>
      🚀 Currently working at
      <a href="https://pioneers.game" target="_blank">Board Labs</a>
    </li>
    <li>🧠 Now focused on game bots intelligence</li>
  </ul>
</div>

<!-- Latest Blog Posts Section
<h2>Latest Blog Posts</h2>
<ul>
  {% for post_name, post_title in posts.items() %}
  <li><a href="/blog/{{ post_name }}">{{ post_title }}</a></li>
  {% endfor %}
</ul> -->

<!-- Highlighted Projects Section
<h2>Highlighted Projects</h2>
<p>
  In addition to my work in data science, I provide free education on Twitter
  and YouTube, teaching at various schools and communities annually. My journey
  in AI and machine learning has led me to explore Diffusion Models and sequence
  prediction tasks using RNNs, among other fascinating areas.
</p> -->

<h2 id="contact">Contact Me</h2>
<p>
  If you'd like to get in touch, feel free to reach out via email at
  <a href="mailto:furkanselek@outlook.com">furkanselek@outlook.Wcom</a>. I'm always
  open to collaborations, new projects, or just a friendly chat about AI, art,
  and everything in between.
</p>

{% endblock %}
